html {
    overflow: scroll;
  }

body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
    resize: none;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#n_titletxt {
    height: 85px;
    width: 98%;
    margin: 10px;
    font-size: 40px;
    padding: 10px;
}

#n_bodytxt {
    height: 315px;
    width: 98%;
    margin: 10px;  

}

#body_ind {
    width: 90%;
}

