{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}          
    <div>
        <h1>Search Results</h1>
        <ul>
        {% for entry in content %}
            {% if entry == "Css" or entry == "Html" %}
                <li><a href="{{entry | lower | safe}}">{{entry | upper | safe}}</a></li>    
            {% else %}    
                <li><a href="{{entry | lower | safe}}">{{entry | safe}}</a></li> 
            {% endif %}       
        {% endfor %}
        </ul>
    </div>
{% endblock %}
