{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}          
    <h1>Create new page</h1>
    <div>
        <form action="{% url 'encyclopedia:newpage' %}" method="POST" id="newpage">
            {% csrf_token %}
            <input type="text" name="new_title" placeholder="Title" style="width: 80%; font-size: x-large;"> <br> <br>
            <textarea form="newpage" name="new_content" style="height: 500px;"></textarea> <br>
            <input type="submit" value="Save Page" style="text-align: center; width: 200px;">
        </form>        
    </div>
{% endblock %}